{% extends 'main.html' %}

{% block content %}

    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white" style="padding-top: 60px;">
        <!-- Added padding-top to prevent overlap with fixed navbar -->
        <div class="row">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Sign up</h1>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        <h3>Sign Up</h3>
                        <p>Do you already have an account? <a class="fw-bold text-danger" href="./login.html">Log In
                            Here!</a></p>
                    </div>
                    <div class="form-body">
                        <form method="POST" action="{% url 'register' %}" class="form auth__form">
                            <div class="vstack gap-3 m-0 p-0">
                                <div class="names d-grid gap-4">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="form__field">
                                            <label for="formInput#text">{{ field.label }} </label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}

                                    <div class="">
                                        <span>
                                            <input type="checkbox" name="termsApply" id="termsApply"
                                                   class="form-check-input" required>
                                        I agree to the Terms & Policy
                                        </span>
                                    </div>
                                        <div class="">
                                            <div class="auth__actions">
                                                <input type="submit" class="w-100 btn btn-danger mt-1" value="Sign Up">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
